.movie {
    display: flex;
    gap: 2rem;

    width: 100%;
}

.movie img {
    width: max-content;
    height: 16rem;
}

.movie .not-found {
    height: 16rem;
    width: 170.667px;
    background-color: var(--gray-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: .8rem;

    gap: .4rem;
}

.movie .not-found h3 {
    font-weight: 700;
}

.movie .not-found p {
    text-align: center;
    line-height: 1.2rem;
}

.movie .content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.movie .content header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.movie .content header div h3 {
    color: var(--title);
}

.movie .content header div .release-date {
    color: var(--subtitle);
}

.movie .content header button {
    padding: .4rem;
}

.movie .content p {
    line-height: 1.6rem;
}
